* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #201e1e;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  
  .logo {
    margin-right: auto;
  }
  
  .logo-img {
    max-width: 4rem;
    max-height: 4rem;
    width: 100%;
    height: auto;
    margin-right: auto;
}

.logo-name {
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: auto;
}
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a, .cta, .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }

  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
/* Navbar End */
  
@keyframes headerFadeIn {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: none;
    opacity: 0.5;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
h1 {
  margin-bottom: 0px;
  text-decoration-line: initial;
  text-align: center;
  text-shadow: inherit;
  font-size: 56px;
  transform: translateX(-15px);
  opacity: 0;
  animation: headerFadeIn 1s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  color: #ffffff;
  background-color: #201e1e;
  
}
h1:nth-child(1)
{
  animation-delay: 1.5s;
}
h1:nth-child(2)
{
  animation-delay: 1s;
}
h1:nth-child(3)
{
  animation-delay: 1.2s;
}

.slider-wrapper {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 900px;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  
}
.slider-wrapper ul {
  position: relative;
  left: 0;
  width: max-content;
  height: 100%;
  padding: 0;
  margin: 0;
  transition: 250ms ease;
}
.slider-wrapper li {
  width: 900px;
  height: 400%;
  list-style: none;
  display: inline-block;
  margin-left: -4px;
  position: relative;
}

.slider-wrapper li p {
  color: #ffffff;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  line-height: 28px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
}
.slider-wrapper li:nth-of-type(1) {
  background: linear-gradient(118.74deg, #006da0 0%, #240B36 99.98%, #8f94fb 99.99%, #240B36 100%);
}
.slider-wrapper li:nth-of-type(2) {
  background: linear-gradient(118.74deg, #c31432 0%, #240B36 99.98%, #8f94fb 99.99%, #240B36 100%);
}
.slider-wrapper li:nth-of-type(3) {
  background: linear-gradient(118.74deg, #24ce57 0%, #240B36 99.98%, #8f94fb 99.99%, #240B36 100%);
}

.controll {
  position: absolute;
  background-color: rgba(248, 248, 248, 0.3);
  box-shadow: 0px 4px 8px rgba(248, 248, 248, 0.15);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  z-index: 1;
  transition: 250ms ease;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);

}
.controll img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.controll:hover {
  background-color: rgba(248, 248, 248, 0.4);
  box-shadow: 0px 4px 8px rgba(248, 248, 248, 0.25);
}
.controll-right {
  right: 16px;
}
.controll-left {
  left: 16px;
}
.controll-left img {
  transform: translate(-50%, -50%) scaleX(-1);
}

/*---------- FEATURES ---------*/

.section-title {
  margin-top: 600px;

}

.features .feature-cards {
  margin: 0 2rem;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin-top: 60px;
  margin-bottom: 50px;

}

.feature-cards .card-box {
  max-width: 17rem;
  height: auto;
  margin: 0 1rem;
  padding: 2rem 2rem;
  background: linear-gradient(118.74deg, #c31432 0%, #240B36 99.98%, #8f94fb 99.99%, #240B36 100%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.feature-cards .card-box:hover {
  transform: translateY(-1rem) scale(1.05);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.feature-cards .card-box ion-icon {
  font-size: 7rem;
  color: #15244e;
  margin-bottom: 1rem;
}

.feature-cards .card-box .card-title {
  font-size: 1.3rem;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0.7rem;
  text-align: center;
}

.feature-cards .card-box .card-text {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  text-align: center;
}

